
.aboutTitle{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 100vh;
    color: white;
    font-size: 21px;
    font-weight: 354;
    background-color: rgba(18, 10, 33, 0.701);
    max-width: 54ch;
    background-size: cover;
    object-fit: cover;
    display: flex;
}

.aboutHead{
    background-size: cover;
    display: grid;
    justify-content: center;
}



.hrsDiv p{
    margin: 0px;
    font-size: 16px;
}
