@font-face {
    font-family: 'charmregular';
    src: url('./fonts/charm-regular-webfont.woff2') format('woff2'),
         url('./fonts/charm-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.aboutTitle{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 100vh;
    color: white;
    font-size: 21px;
    font-weight: 354;
    background-color: rgba(18, 10, 33, 0.701);
    max-width: 54ch;
    background-size: cover;
    object-fit: cover;
    display: flex;
}

.aboutHead{
    background-size: cover;
    display: grid;
    justify-content: center;
}



.hrsDiv p{
    margin: 0px;
    font-size: 16px;
}

.resName{
}

.homeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePara{
    margin: 30px 0px 10px;
    max-width: 75ch;
    word-spacing: 0.2rem;
    /* font-family: 'charmregular'; */
    text-align: center;
}

.paraOne, .journeyPara{
    font-family: 'charmregular';
    word-spacing: 0.2rem;
    margin: 0 10px;
    max-width: 55ch;
    font-size: 18px;
}

.hrsH3{
    font-family: 'charmregular';
    font-size: 26px;
}

ul{
    list-style: none;
    margin: 10px;

}

hr{
    width: 400px;
    margin: 10px 0 10px;
    height: 4px;
    background-color: rgb(153, 204, 248);
    border-radius: 2px;
    border: none;
}   

.location{
    margin: 20px;
    font-style: italic;
}



.homeDiv{
    background-color: rgba(2, 0, 3, 0.607);

}

.home{
    background-image: url(./img/home4.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: contain; */
    color: white;
}

.contDiv{
    font-style: italic;
    margin: 0;
    padding: 0;
}

.contDiv, .location{
    background-color: rgba(0, 0, 0, 0.484);
    padding: 20px 40px;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
}